In [63]:
import numpy as np
import pandas as pd

In [64]:
data = pd.read_csv('test01.pdb',sep='\s+')

data.columns = ['REMARK','4','1DPP','COMPLIES','X','Y','Z','2.0,','18-NOV-1998']
display(data)

      REMARK    4 1DPP  COMPLIES      X      Y      Z  2.0,  18-NOV-1998
ATOM       1   C1  OLA         1  44.29  24.62  58.04   1.0          0.0
ATOM       2   C2  OLA         1  44.63  25.19  56.66   1.0          0.0
ATOM       3   C3  OLA         1  46.04  24.71  56.29   1.0          0.0
ATOM       4   C4  OLA         1  46.63  25.14  54.94   1.0          0.0
ATOM       5   C5  OLA         1  48.05  24.57  54.94   1.0          0.0
ATOM       6   C6  OLA         1  48.83  25.06  53.72   1.0          0.0
ATOM       7   C7  OLA         1  48.14  24.56  52.45   1.0          0.0
ATOM       8   C8  OLA         1  48.63  24.69  51.00   1.0          0.0
ATOM       9   C9  OLA         1  47.74  24.05  49.94   1.0          0.0
ATOM      10  C10  OLA         1  47.84  24.38  48.59   1.0          0.0
ATOM      11  C11  OLA         1  48.72  25.47  47.99   1.0          0.0
ATOM      12  C12  OLA         1  48.41  25.61  46.50   1.0          0.0
ATOM      13  C13  OLA         1  48.72  24.41  45.60   1.0          0.0
ATOM      14  C14  OLA         1  48.48  24.71  44.12   1.0          0.0
ATOM      15  C15  OLA         1  48.57  23.44  43.28   1.0          0.0
ATOM      16  C16  OLA         1  48.50  23.68  41.77   1.0          0.0
ATOM      17  C17  OLA         1  48.90  22.41  41.02   1.0          0.0
ATOM      18  C18  OLA         1  48.76  22.47  39.50   1.0          0.0
ATOM      19  O19  OLA         1  47.93  23.21  38.97   1.0          0.0
ATOM      20  O20  OLA         1  49.74  21.80  38.83   1.0          0.0
ATOM      21  H21  OLA         1  49.49  22.15  37.93   1.0          0.0

In [65]:
def get_angle(a, b, c):
    ba = a - b
    bc = c - b
    cosine_angle = np.dot(ba, bc) / (np.linalg.norm(ba) * np.linalg.norm(bc))
    angle = np.arccos(cosine_angle)
    return(np.degrees(angle))

In [66]:
data.index = range(len(data))
a = data.loc[0, ['X', 'Y', 'Z']]
b = data.loc[1, ['X', 'Y', 'Z']]
c = data.loc[2, ['X', 'Y', 'Z']]

In [67]:
get_angle(a, b, c)

107.74807899719426

In [68]:
def dots_angle(data):
    data.index = range(len(data))
    angles = [0]
    for k in range(len(data)-2):
        a = data.loc[k, ['X', 'Y', 'Z']]
        b = data.loc[k+1, ['X', 'Y', 'Z']]
        c = data.loc[k+2, ['X', 'Y', 'Z']]
        angles.append(get_angle(a, b, c))
    angles.append(0)
    return(angles)

In [69]:
data['dots-angle'] = dots_angle(data)

In [70]:
display(data)

,REMARK,4,1DPP,COMPLIES,X,Y,Z,"2.0,",18-NOV-1998,dots-angle
0,1,C1,OLA,1,44.29,24.62,58.04,1.0,0.0,0.000000
1,2,C2,OLA,1,44.63,25.19,56.66,1.0,0.0,107.748079
2,3,C3,OLA,1,46.04,24.71,56.29,1.0,0.0,118.529798
3,4,C4,OLA,1,46.63,25.14,54.94,1.0,0.0,104.618734
4,5,C5,OLA,1,48.05,24.57,54.94,1.0,0.0,110.738952
5,6,C6,OLA,1,48.83,25.06,53.72,1.0,0.0,109.130631
6,7,C7,OLA,1,48.14,24.56,52.45,1.0,0.0,127.755005
7,8,C8,OLA,1,48.63,24.69,51.00,1.0,0.0,115.752242
8,9,C9,OLA,1,47.74,24.05,49.94,1.0,0.0,122.155375
9,10,C10,OLA,1,47.84,24.38,48.59,1.0,0.0,126.320389
10,11,C11,OLA,1,48.72,25.47,47.99,1.0,0.0,109.403913
11,12,C12,OLA,1,48.41,25.61,46.50,1.0,0.0,117.388916
12,13,C13,OLA,1,48.72,24.41,45.60,1.0,0.0,112.535424
13,14,C14,OLA,1,48.48,24.71,44.12,1.0,0.0,111.125859
14,15,C15,OLA,1,48.57,23.44,43.28,1.0,0.0,114.208054
15,16,C16,OLA,1,48.50,23.68,41.77,1.0,0.0,109.992593
16,17,C17,OLA,1,48.90,22.41,41.02,1.0,0.0,115.575398
17,18,C18,OLA,1,48.76,22.47,39.50,1.0,0.0,120.894351
18,19,O19,OLA,1,47.93,23.21,38.97,1.0,0.0,29.208989
19,20,O20,OLA,1,49.74,21.80,38.83,1.0,0.0,69.045526
20,21,H21,OLA,1,49.49,22.15,37.93,1.0,0.0,0.000000